<section id="about-section" class="section">
    <div class="section-wrapper">
      <div class="fade-in">
        <h1 class="section-heading">Hey, I'm Brittany.</h1>
        <h3 class="section-subheading">.</h3>
        <span class="divider"></span>
        <div class="about-wrapper">
          <img class="headshot" src="img/headshot.jpg" alt="headshot">
          <div class="about-text-wrapper">
            <p class="about-text"><strong>I'm a third year student at Vanderbilt University</strong> in Nashville studying computer science and engineering managament.
            <p class="about-text"><strong>When I'm not in front of a screen,</strong> I'm probably playing video games, gardening, knitting, or playing with my pets.</p>
          </div>
        </div>
      </div>
    </div>
  </section>