<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Student at
      <a class="underline-link" href="https://www.vanderbilt.edu/" target="_blank">Vanderbilt University</a> in the
      School of Engineering studying Computer Science and Engineering Management. Last year, I completed a 6 month Co-Op
      at
      <a class="underline-link" href="https://www.kohlercompany.com/" target="_blank">Kohler Co.</a>, working within the
      IT Department on the Agile Project Management team.
    </p>

    <p>
      I'm a puzzle enthusiast and aspiring game developer with an eye for symmetry and a heart for coding that brings beauty 
      into functionality. There's nothing more satisfying to me than the perfect alignment of logic and creativity, manifesting 
      in games that tell stories and code that clicks into place. Each line I write is a step towards crafting tangible creations 
      I can call my own.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing video games, spending time with
      family,
      or painting.
    </p>

    {% include employment-status.html %}
  </div>
</section>